/******************************************/
/*=========     MEDIA-QUERIES    =========*/
/******************************************/
@media (min-width: 768px)
	// version SM
	.intro-text
		padding: 200px 0 50px

	.btn
		width: 300px
		height: 100px
		font-size: 30px
		background-color: rgba(255,90,0,0.8)
		margin: 0 10px 0 0


@media (min-width: 992px)
	// version MD
	
	.intro-text
		padding: 400px 0 50px
